@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kaushan+Script|Macondo|Pacifico|Raleway:400,600,700');
.inner img:hover{
	transform: scale(1.1,1.1)
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #db58b1), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #db58b1 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #db58b1 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #db58b1 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #db58b1 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #db58b1 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db58b1', endColorstr='#79bbff',GradientType=0);
	background-color:#db58b1;
	border: 1px solid;
	border-radius:30px;
}

.tape
{
	max-width: 100%;
	height: auto; 
}

.play{
	position: absolute;
	/*-z-index: 10;*/
	top: 35.5%; 
	left: 40%;
}


#title{
	font-family: 'Kaushan Script', cursive;
	font-weight:2px;
	position: absolute;
	/*-z-index: 10;*/
	top: 59%; 
	left: 20%;
	width: 60%;
	text-align: center;
}

/*.pause{
	position: absolute;
	-z-index: 10;
	top: 35.5%; 
	left: 44%;
	display: none;
}
*/
.backward{
	position: absolute;
	/*-z-index: 10;*/
	top: 33.5%; 
	left: 23.3%;
}

.volumedown{
	position: absolute;
	/*-z-index: 10;*/
	top: 40%; 
	left: 13.5%;
}

.volumeup{
	position: absolute;
	/*-z-index: 10;*/
	top: 40%; 
	left: 80.5%;
}


.forward{
	position: absolute;
	/*-z-index: 10;*/
	top: 34%; 
	left: 64%;
}

body{
	padding: 0;
	margin: 0;
}

.container{
	width: 518px;
	position: relative;
	margin-left: 30%;
	margin-top: 5rem;
}

.equilizer{
	position: absolute;
	/*-z-index: 10;*/
	top: 75%; 
	left: 30.5%;
}

.repeat{
	position: absolute;
	-z-index: 10;
	top: 52%; 
	left: 15%;
}
